footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}


.contacto{
    background-image: url(../img/fondoContacto.jpg);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}
.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.contacto .fila{
    display: flex;
}
.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}
.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;
}
.contacto .col img{
    width: 100%;
}
.contacto .col .info{
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    max-swidth: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contacto .col .info ul{
    list-style: none;
}
.contacto .col .info ul li{
    margin-bottom: 20px;
}
.contacto .col .info ul li i{
    color: #1CB698;
    display: inline-block;
    margin-right: 20px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #dfc;
    margin: -4px 0 0 -4px;
  }
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.loader {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    clip-path: circle(150% at 100% 0);
    transition: clip-path 0.9s ease-in-out;
}
.loader2{
    clip-path: circle(0% at 100% 0);
}